#not-found {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: #fff;
        background: #fff2;
        padding: 10px;
        font-size: 20px;
        border-radius: 4px;
        transition: .3s;

        &:hover {
            background: #fff3;
        }
    }
}

h1 {
    font-size: 50px;
}
