$header-height: 26px;
$p-header: 16px;


body {
    display: flex;
    flex-direction: row;
    background: #181818;
}

* {
    font-family: "Open Sans", sans-serif;
}


a, button {
    cursor: pointer;
    border: none;
}

header {
    width: calc(100% - $p-header * 2);
    height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $p-header;

    img {
        width: 26px;
        opacity: 0.5;
        transition: .3s;

        &:hover {
            opacity: 1;
        }
    }

    h1 {
        font-size: 24px;
        margin-block: 0px;
        font-weight: 500;
        opacity: 0.6;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

#horizontal-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.placeholder-previous-next {
    width: 100px;
    height: 100%;
}

.previous-next {
    transition: 0.3s;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        transition: 0.3s;
        color: #fff;
        fill: #fff;
        height: 50px;
        opacity: 0.3;
    }

    &:hover {
        svg {
            opacity: 0.7;
        }

        background: #FFF3;
    }

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;

    #content {
        max-width: 700px;
        width: 100%;
        padding-inline: 16px;
        height: calc(100vh - $header-height - $p-header * 2);
        overflow: scroll;
        margin-left: 50%;
        transform: translateX(-50%);

        &::after{
            content: "";
            display: block;
            height: 25px;
        }
    }
}

$sidebar-pi: 8px;

nav#sidebar {
    background: #222;
    transition: .3s;
    height: 100vh;
    min-width: 150px;
    width: 20vw;
    padding-inline: $sidebar-pi;
    position: relative;

    > li {
        display: none;
    }

    li {
        padding-inline: 12px;
        padding-block: 6px;
        border-radius: 6px;

        &.cursor {
            transition: .3s;
            cursor: pointer;

            &:hover {
                background: #fff3;
            }
        }

        &.active {
            background-color: #fff4 !important;
        }
    }
    
    ol {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    > ol {
        padding-left: 0px;
        list-style: none;
        > li {
            counter-increment: list-counter;

            &::before {
                content: counter(list-counter) ". ";
            }
        }

        > ol {
            counter-reset: nested-counter;
            padding-left: 16px;

            > li {
                counter-increment: nested-counter;

                &::before {
                    content: counter(list-counter) "." counter(nested-counter) " ";
                }
            }
        }
    }

    &.hidden {
        margin-left: calc(-20vw - $sidebar-pi * 2);
    }
}


@media (max-width: 1200px) {
    nav#sidebar {
        $w: max(350px, 40vw);
        left: 0;
        z-index: 2;
        width: max(350px, 40vw);
        position: absolute;

        &.hidden {
            margin-left: calc(-1 * $w - $sidebar-pi * 2);
        }
    }
}

@media (max-width: 800px) {
    #content {
        font-size: 16px;
        max-width: calc(100vw - 40px) !important;
        padding-inline: 4px !important;
        height: calc(100vh - $header-height - $p-header * 2 - 64px) !important;

        &::after {
            display: none !important;
        }
    }

    #horizontal-content {
        .previous-next {
            background: #fff3;
            padding-block: 20px;

            svg {
                transform: scale(0.7);
            }

            &:first-child {
                left: 10px;
            }
            &:last-child {
                right: 10px;
            }
        }

        .placeholder-previous-next, .previous-next {
            position: absolute;
            bottom: 10px;
            height: 30px;
            border-radius: 6px;

        }
    }
}


table {
    border: 2px solid #fff2;
    border-radius: 4px;
    thead {
        background: #fff3;
    }
    tbody {

        background: #fff1;
        td {
            padding: 5px;
        }
    }
}
